a{
    text-decoration: none;

}
.clear{
    clear: both;
}

#home
{
    background: url('../img/banner.jpg') ;
    background-size: cover;
    background-position: bottom;
}
.container{
    padding: 100px 120px;
    width:100%;
}
.col-sm-4 img, .col-sm-3 img{
    width:200px;
}
.btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
    clear:none;
}
/* Add a dark background color with a little bit see-through */
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px ;
    letter-spacing: 4px;
    opacity:0.9;
}

#skills, #projects{
    color:#fff;
    background-color: #2d2d30;
    border:0;
    margin:0;
    width:100%;
    opacity:0.8;
}

.navbar-default .navbar-nav>li>a{
    font-size:15px;
    color: #d5d5d5;
    transition: 0.3s;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #ffffff;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
#hobby{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;

    background-size:cover;
}
#contact{
    background-image: url("../img/leaf3.jpg");
    background-position: bottom;
    background-size:cover;
    height:350px;
}
.box{
    width: 20%;
    margin:auto;
    padding: 10px 0px 20px 0px;
    background-color:white;
}
#projects img{
    height: 250px;
    width:250px;
}
.projectName{
    font-size: 60px;
}
.narrow-text{
    width:40%;
    text-align: left;
}
.projectContainer img{
    padding:20px 0 ;
}
.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.verticalPic img{
    width:500px;
}
